<p id="notice"><%= notice %></p>

<p>
  <strong>Japanese:</strong>
  <%= @post.japanese %>
</p>

<p>
  <strong>Chinese:</strong>
  <%= @post.chinese %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
