<p id="notice"><%= notice %></p>
<h2><%=link_to "HENTEKI Homepage", root_path%></h2>


<p>
  <strong>Japanese:</strong>
  <%= @post.japanese %>
  <p>日语的读音是：<%= @post.chinese_sound %></p>
</p>

<p>
  <strong>Chinese:</strong>
  <%= @post.chinese %>
  <p>中国語の発音：<%= @post.japanese_sound %></p>
</p>


<div>
  <%= form_for( [@post, @post.comments.new] ) do |f| %>
    <div class = "field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class = "field">
      <%= f.label :text %>
      <%= f.text_area :text, size: "25x5" %>
    </div>
    <div class = "actions">
      <%= f.submit "Add New Comment" %>
    </div>
  <% end %>
</div>

<div class = "comment">
  <%= render @post.comments.order(created_at: :desc)  %>
</div>

<%= link_to 'Back', posts_path %>
