<p id="notice"><%= notice %></p>
<h2><%=link_to "HENTEKI Homepage", root_path, :style=> 'color:blue;'%></h2>
<style type="text/css">
  .title1 {
    color: green;
    font-size: 25px;
  }
  .title2{
    color: blue;
    font-size: 25px;
  }
  .jp {
    font-size: 20px;
  }
  .cn {
    font-size: 20px;
  }
  #jp-block {
    border: 2px solid green;
  }
  #cn-block {
    border: 2px solid blue;
  }
</style>
<div id="jp-block">
<p class="title1">Japanese:</p>
<p class="jp"><%= @post.japanese %></p>
<p class="title1">日语的读音是：<p class="jp"><%= @post.chinese_sound %></p></p>
</div>
<br>
<br>
<div id="cn-block">
<p class="title2">Chinese:</p>
<p class="cn"><%= @post.chinese %></p>
<p class="title2">中国語の発音：<p class="cn"><%= @post.japanese_sound %></p></p>
</div>
<br>
<br>

<div>
  <%= form_for( [@post, @post.comments.new] ) do |f| %>
    <div class = "field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class = "field">
      <%= f.label :text %>
      <%= f.text_area :text, size: "25x5" %>
    </div>
    <div class = "actions">
      <%= f.submit "Add New Comment" %>
    </div>
  <% end %>
</div>

<div class = "comment">
  <%= render @post.comments.order(created_at: :desc)  %>
</div>

<%= link_to 'Back', posts_path, :style=> 'color:blue;' %>
